h1 {
            text-align: center;
        }
        .middle {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            margin: auto;
            border: 1px solid black;
            border-spacing: 1px;
            padding: 1px;
        }
        .green{
			background-color: green
		}
		.blue{
			background-color: blue
		}
		.center {
			text-align: center;
		}
		.right{
			text-align:right
		}
        tr, td {
            border: 1px solid black;
            padding: 1px;
        }